table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
  }

  th,
  td {
    padding: 10px;
    border: 1px solid #0a0404;
  }

  th {
    background-color: #1f0a50;
    color: #ffffff;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: #beb3d6;
  }