<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="men" class="com.example.demo.Men">
    <property name="name" value="Maara"/>
    <property name="age" value="23"/>
</bean>

<bean id="person" class="com.example.demo.Person">
    <property name="men" ref="men"/>
</bean>

</beans>
